# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/Backgrounds.ai
/components.json
/.idea/eventstar.iml
/.idea/icon.svg
/prisma/migrations/*
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/app/api/invite/route.ts
/hooks/use-mobile.tsx
/hooks/use-toast.ts
/lib/utils.ts
/.idea/vcs.xml
